include  ../partials/head

html
  head
    title= title
  body
    h1= message

    include ../partials/navbar


    .container
      .row
        .col.s6.offset-s3
          if error.length
            p.alert= error
          h1 Enter new password
          form(action="/auth/password" method="POST")
            .input-field
              input(placeholder="Password" name="password" id="password" type="password" class="validate" required)
              label(for="password") Password
              span(class="helper-text" data-error="Enter Password")
            input(type="hidden" name="_csrf" value=csrf)
            input(type="hidden" name="userId" value=userId)
            input(type="hidden" name="token" value=token)


            button(class="btn btn-primary" type="submit") Sed new password



    include ../partials/footer