include  partials/head

html
    head
        title= title
    body
        h1= message

        include partials/navbar
        .container

            h1 Cart
            div#cart
            if courses.length
                table
                    thead
                        tr
                            th Name
                            th Count
                            th Actions
                    tbody
                        each course in courses
                            tr
                                td= course.title
                                td= course.count
                                td
                                    button(class="btn btn-small js-remove" data-idx="#{course.id}") Remove

                p <strong>Price</strong> <span class="price">#{course.price}</span>
                form(action="/orders" methos="POST")
                    button(class="btn" type="submit") Order
            else
                p Cart is empty

        include partials/footer